.container1{
    background-color: white;
}
.title{
    font-size: 1.21875rem;
    color: #495057;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Be Vietnam Pro';
    font-style:sans-serif;
}
.container-fluid{
    padding: 0px !important;
}